* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: 'K2D';
}

.container {
  border-radius: 50px;
  border: 10px solid #828282;
  width: 600px;
  height: 700px;
  background: #222;
  margin: auto;
  margin-top: 50px;
}

.container .img {
  background-image: url(./assets/Mask\ group.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 450px;
  height: 450px;
  margin: auto;
}

.container .time {
  color: #FFF;
  font: 400 30px 'K2D';
  width: 103px;
  height: 39px;
  padding: 56px 56px 25px 440px;
}

.container .date {
  color: #FFF;
  font: 400 20px 'K2D';
  margin-left: 250px;
  margin-top: 50px;
}

.container .line {
  width: 230px;
  height: 10px;
  border-radius: 1px;
  background: #FFFFFF;
  margin-top: 15px;
  margin: auto;
}